{% extends 'calendarapp/base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'croissant/css/index.css' %}">
<img src="{% static 'croissant/image/logo.png' %}" alt="ロゴ">
{% endblock header %}

{% block content %}
    {% csrf_token %}
    <div class=”center”>
        <p>
            <a href="{{'register'}}" class="btn-square-pop">アカウント登録</a>
        </p>
    </div>
    <p class="p1"></p>
    <div class=”center”>
        <p>
            <a href="{{'signin'}}" class="btn-square-pop">ログイン</a>
        </p>
    </div>

{% endblock content %}