{% extends 'calendarapp/base.html' %}
{% load static %}

{% block header %}
<!--ロゴ-->
<img src="{% static 'croissant/image/logo.png' %}" alt="ロゴ" class="logo_s">
<!--css-->
<link rel='stylesheet' type="text/css" href="{% static 'croissant/css/calendar.css' %}">
<!--fullcalendar-->
<link href="{% static 'croissant/fullcalendar/main.css' %}" rel='stylesheet'/>
<script src="{% static 'croissant/fullcalendar/main.js' %}"></script>
<!--fullcalendarで使用するbootstrap-->
<link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet'/>
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<!-- ポップアップ表示のライブラリSweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<!--FontAwesome-->
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<script>

    document.addEventListener('DOMContentLoaded', function() {
<!--views.pyからactorのeventデータ取得-->
        var events = {{ event_list|safe }};
<!--requesterのeventデータ取得-->
        var requester_events = {{requester_event_list|safe }};

        var calendarEl = document.getElementById('calendar');

<!--fullcalendarの詳細設定-->
        var calendar = new FullCalendar.Calendar(calendarEl, {
<!--週表示カレンダーの詳細設定-->
          views: {
              timeGridWeek: {
<!--タイトルのフォーマット-->
                titleFormat: function (date) {
                  const startMonth = date.start.month + 1;
                  const endMonth = date.end.month + 1;

                  if (startMonth === endMonth) {
                     return startMonth + '月';
                  } else {
                     return startMonth + '月～' + endMonth + '月';
                  }
                },
<!--日付のフォーマット-->
                dayHeaderFormat: function (date) {
                  const day = date.date.day;
                  const weekNum = date.date.marker.getDay();
                  const week = ['(日)', '(月)', '(火)', '(水)', '(木)', '(金)', '(土)'][weekNum];

                  return day + ' ' + week;
                },
<!--スロットラベルフォーマット-->
                slotLabelFormat: {hour: 'numeric', minute: 'numeric'},
              },
          },
            locale: 'ja',// 日本語
            firstDay: (new Date()).getDay(),// 開始日の設定
            validRange: {
                start: new Date()
            },
<!--            themeSystem: 'bootstrap',// テーマの設定-->
            scrollTime: '08:00',// 開始時間の設定
            timeZone: 'local',// タイムゾーン
            initialView: 'timeGridWeek',// カレンダーの種類
            nowIndicator: false,// 現在時刻の目印表示
            allDaySlot: true,// 終日イベント欄の表示
            expandRows: true,// pcなどで表示する縦幅を変えるとそれに対応して時間幅も合わせてくれる設定
            stickyHeaderDates: false,// スクロールした際に日付が一番上に残ってくれる設定
            selectable: true,// ドラッグで選択可能
            height: '100%',// 要設定
<!--オリジナルボタンの作成-->
            customButtons: {
<!--ログイン画面へのボタン-->
                login: {
                    text: 'ログイン',
                    click: function() {
                        location.href = "http://127.0.0.1:8000/signin"
                        }
                },
                calendar: {
                    text: '連携',
                    click: function() {
                        location.href = "http://127.0.0.1:8000/authorize_requester"
                        }
                },
            },
<!--ツールバーのボタン設定-->
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'calendar login'
            },
<!--ボタンの名前設定-->
            buttonText: {
                today: '今日',
            },
<!--カレンダー選択時のアクション-->
            select: function (arg) {
                document.getElementById('start_at').value=arg.startStr.substr(0,19);
                document.getElementById('end_at').value=arg.endStr.substr(0,19);
                modal.classList.remove('hidden');
                mask.classList.remove('hidden');
            },

            navLinks: false, // can click day/week names to navigate views
            editable: false,
            selectMirror: true,
            dayMaxEvents: true, // allow "more" link when too many events

<!--イベント情報入力-->
            eventSources: [
<!--グーグルカレンダーの情報取得-->
                {
                    events: events,
                    color: '#f6ad49',
                    display: 'background',
                },
                {
                    events: requester_events,
                    color: '#CBA4C9',
                    display: 'background',
                },
            ]
        });

        calendar.render();

<!--ポップアップ画面の処理-->
      const modal = document.getElementById('modal');
      const mask = document.getElementById('mask');

<!--modalの外が押された-->
      mask.addEventListener('click', function () {
        modal.classList.add('hidden');
        mask.classList.add('hidden');
      });

<!--入力情報に漏れがないか-->
      (function () {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }else{
                    modal.classList.add('hidden');
                    mask.classList.add('hidden');
                    Swal.fire({
                        title: "送信されました！",
                        icon: "success",
                        button: "閉じる",
                    });
                };

                form.classList.add('was-validated')
              }, false)
            })
      })()
    });





</script>
{% endblock header %}

{% block content %}
<!--カレンダー表示-->
<div class="calendar-height">
    <div id="calendar"></div>
</div>

<!--ポップアップ表示-->
<div id="mask" class="hidden"></div>
<section id="modal" class="hidden">
    <form method="post" class="row g-1 needs-validation" name="request" novalidate>
        {% csrf_token %}
        <h3 class="text-center">リクエスト申請</h3>
        <label class="form-label" for="name">名前</label>
        <input type="text" class="form-control" id="name" name="requester_name" required>
        <label class="form-label" for="exampleInputEmail">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" name="requester_mail_address" required>
        <label class="form-label" for="title">タイトル</label>
        <input type="text" class="form-control" id="title" name="title" required>
        <label class="form-label" for="start_at">開始</label>
        <input type="datetime-local" class="form-control" id="start_at" name="start_at" required>
        <label class="form-label" for="end_at">終了</label>
        <input type="datetime-local" class="form-control" id="end_at" name="end_at" required>
        <label class="form-label" for="exampleFormControlTextarea">メッセージ(任意)</label>
        <textarea class="form-control" id="exampleFormControlTextarea" name="message" rows="3"
                  placeholder="この日に○○行きたいな！"></textarea>
        <button type=submit class="btn btn-primary" id="submit">申請</button>
    </form>
</section>
{% endblock content %}
