{% extends 'calendarapp/base.html' %}
{% load static %}

{% block header %}
<a href="{{'main'}}"><img src="{% static 'croissant/image/logo.png' %}" alt="ロゴ" class="logo_s"></a>
<link rel='stylesheet' type="text/css" href="{% static 'croissant/css/request.css' %}">
<title>リクエスト一覧</title>
{% endblock header %}

{% block content %}
<div style="text-align: center;">
<h1>リクエスト一覧</h1>
</div>
<p class="p1"></p>
{% for request in requests %}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <p>名前：{{ request.requester_name }}</p>
        <p>名前：{{ request.title }}</p>
        <p>日時：{{ request.start_at }} ～ {{ request.end_at }}</p>
        <p>メッセージ：{{ request.message }}</p>
        <p>送信日時：{{ request.created_at }}</p>
    </a>
</div>
{% empty %}
<div style="text-align: center;">
<p>リクエストはありません</p>
</div>
{% endfor %}
{% endblock content %}
