{% extends 'calendarapp/base.html' %}
{% load static %}

{% block header %}
<link href="{% static 'croissant/fullcalendar/main.css' %}" rel='stylesheet' />
<script src="{% static 'croissant/fullcalendar/main.js' %}"></script>
<!-- ポップアップ表示のライブラリSweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ja',
            firstDay: (new Date()).getDay(),
            validRange: {
                start: new Date()
            },
            scrollTime: '08:00',
            initialView: 'timeGridWeek',
            nowIndicator: false,
            allDaySlot: false,
            customButtons: {
                login: {
                    text: 'login your calendar',
                    click: function() {
                        }
                },

            },
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'login'
            },

            navLinks: false, // can click day/week names to navigate views
            editable: false,
            selectable: false,
            selectMirror: true,
            dayMaxEvents: true, // allow "more" link when too many events

            dateClick: function() {
                Swal.fire({
                  title: 'リクエスト承認',
                  confirmButtonText: '次へ',
                  html:
                    '<input type="text">',
                })
            },

            eventSources: [{
                events: [{
                    title: 'a',
                    start: '2021-10-15T12:00:00',
                    end: '2021-10-15T15:00:00'
                    }],
                color: 'gray',
                textColor: 'gray'
            }]
        });

        calendar.render();
    });

</script>
{% endblock header %}

{% block content %}
<div id="calendar"></div>
{% endblock content %}
