{% extends 'calendarapp/base.html' %}
{% load static %}

{% block header %}
<link href="{% static 'croissant/fullcalendar/main.css' %}" rel='stylesheet' />
<script src="{% static 'croissant/fullcalendar/main.js' %}"></script>
<!-- ポップアップ表示のライブラリSweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<!--FontAwesome-->
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<!--css-->
<link rel='stylesheet' type="text/css" href="{% static 'croissant/css/calendar.css' %}">
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var events = {{ event_list|safe }};

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ja',
            firstDay: (new Date()).getDay(),
            validRange: {
                start: new Date()
            },
            scrollTime: '08:00',
            initialView: 'timeGridWeek',
            nowIndicator: false,
            allDaySlot: false,
            customButtons: {
                login: {
                    text: 'login your calendar',
                    click: function() {
                        location.href = "http://127.0.0.1:8000/calendar/signin"
                        }
                },
            },
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'login'
            },

            navLinks: false, // can click day/week names to navigate views
            editable: false,
            selectable: false,
            selectMirror: true,
            dayMaxEvents: true, // allow "more" link when too many events

            dateClick: function () {
                modal.classList.remove('hidden');
                mask.classList.remove('hidden');
            },

            eventSources: [{
                events: events,
                color: 'gray',
                textColor: 'black'
            }]
        });

        calendar.render();

          const close = document.getElementById('close');
          const modal = document.getElementById('modal');
          const mask = document.getElementById('mask');

          close.addEventListener('click', function () {
            modal.classList.add('hidden');
            mask.classList.add('hidden');
          });
          mask.addEventListener('click', function () {
            modal.classList.add('hidden');
            mask.classList.add('hidden');
          });
    });



</script>
{% endblock header %}

{% block content %}
<!--カレンダー表示-->
<div id="calendar"></div>
<!--ポップアップ表示-->
    <div id="mask" class="hidden"></div>
    <section id="modal" class="hidden">
        <h3>リクエスト申請</h3>
        <form method="post">
            {% csrf_token %}
            <label>名前</label>
            <input type="text" class="form-control" name="requester_name">
            <label>Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="requester_mail_address">
            <label>開始</label>
            <input type="datetime-local" class="form-control" name="start_at">
            <label>終了</label>
            <input type="datetime-local" class="form-control" name="end_at">
            <label>メッセージ</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
            <button type=submit id="close">提出</button>
        </form>
    </section>
{% endblock content %}