* {
  margin:0; padding:0;
}
html {
  height: 100%;
}
header {
  width: 100vw;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
#footer {
  border-top: solid 1px lightgray;
  padding-bottom: 10px;
}
#footer p {
  text-align: center;
}