.btn-square-pop {
  position: center;
  font-size: 25pt;
  display: inline-block;
  padding: 0.5em 1.0em;
  text-decoration: none;
  color: #FFF;
  background: #f6ad49;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 10px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
/*余白 レスポンシブではないのであとで直す*/
p.p1 {
    margin-bottom: 2em;
}
p.p2 {
    margin-bottom: 8em;
}