.atag {
    color: #fff;
    text-decoration: none;
}
.atag:hover {
    color: #fff;
    text-decoration: none;
}
#submit {
    background: #f6ad49;
    color: #fff;
}

.calendar-height {
    height: 100%;
}

.modal {
    text-align: center;
    margin: auto;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
  background: #d0d0d04d;
  border: 1px solid #ddd;
}

.popup-box {
    border: 5px dotted #f6ad49;
    padding: 10px 3px 10px 3px;
}

.radio-text {
    font-size: 20px;
}

// fullcalendarのCSS


// ポップアップ表示のCSS
#open,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
  position: relative;
  top: 30%;
}

#mask,#todo_mask{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

#modal,#todo_modal{
  background: #fff;
  color: #555;
  width: 300px;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 9999;
  transition: 0.4s;
}

#modal,#todo_modal p {
  margin: 0 0 20px;
}

#mask.hidden,#todo_mask.hidden {
  display: none;
}

#modal.hidden,#todo_modal.hidden{
  display: none;
}

// ハンバーガーメニュー
.ham {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #ffa500;
	border-radius: 20px;
}
.ham_line {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 1px;
	transition: all 0.3s;
	background-color: #333333;
}
.ham_line1 {
	top: 10px;
}
.ham_line2 {
	top: 18px;
}
.ham_line3 {
	top: 26px;
}

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 20px;
}
.ham_title {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0px 0px 0px;
}
p.p1 {
    margin-bottom: 2em;
}
.menu {
	position: fixed;
	width: 300px;
	height: 300px;
	left: -400px;
	background-color: #a9a9a9;
	transition: all 0.3s;
	z-index: 99999;
	font-weight: bold;
	font-size: 15pt;
	color: #a9a9a9;
	line-height: 50px;
	/*border-radius: 20px;*/
}
.clicked .menu {
	left: 8px;
}

.todo_list_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.todo_list_box {
    text-align: center;
    margin: 0px 0px 0px 10px;
}

hr {
    color: #fff;
}
