#submit {
    background: #f6ad49;
    color: #fff;
}

.calendar-height {
    height: 100%;
}

.modal {
    text-align: center;
    margin: auto;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
  background: #d0d0d04d;
  border: 1px solid #ddd;
}

.popup-box {
    border: 5px dotted #f6ad49;
    padding: 10px 3px 10px 3px;
}

.radio-text {
    font-size: 20px;
}

// fullcalendarのCSS


// ポップアップ表示のCSS
#open,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
  position: relative;
  top: 30%;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  color: #555;
  width: 300px;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  display: none;
}

