h1 {
    font-weight: bold;
    color: #FFF;
    background: #f6ad49;
}

#request-list {
    height: 100%;
    padding: 5px 0px 50px 0px;
    overflow-y: scroll;
}

.request-card {
    margin: 5px 20px 5px 20px;
    border: 3px double #f6ad49;
}

.back {
    color: #f6ad49;
    padding: 20px;
}
.back:hover {
    color: #f6ad49;

}

